#deficit {
    /*width:;!* add the width here *!*/
    position:relative;
}
#deficit.scrolling {
    position:fixed;
    top:20px;
}

#deficit.absolute {
    position:absolute;
    top:20px;
}

#deficit.scrolling-xs {
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
}