@import url(../css/smallchart.css);
@import url(../css/bigchart.css);
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }

h1 {
  font-size: 3.5em;
  line-height: 1.8em;
  font-weight: bold; }

h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal; }

p, li {
  font-size: 1.2em;
  line-height: 1.5; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.img-logo {
  position: fixed;
  float: left;
  margin: 0;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

.menu-wrap {
  padding: 5px; }

.menu-item {
  color: #555;
  display: block;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
  height: 25px; }
  @media (max-width: 768px) {
    .menu-item {
      font-size: 1.2em; } }
  @media (max-width: 1000px) {
    .menu-item {
      display: inline-block;
      padding-right: 10px; } }

.menu-inner-wrap {
  margin-top: 99px;
  margin-left: 7px; }
  @media (max-width: 1000px) {
    .menu-inner-wrap {
      margin-top: 0;
      margin-bottom: 0;
      display: inline-block; } }

.menu-item-first {
  display: block;
  height: 26px;
  background: none;
  padding: 0; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 768px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 768px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 768px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 480px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

svg.smallchart .area.historical,
svg.bigchart .area.historical {
  fill-opacity: 0.8; }
svg.smallchart .area.future,
svg.bigchart .area.future {
  fill-opacity: 0.3; }
svg.smallchart .area.target,
svg.bigchart .area.target {
  fill-opacity: 0.2; }

.ballance_color {
  color: #ff7f00;
  fill: #ff7f00; }

.payers_rate_color {
  color: #6a3d9a;
  fill: #6a3d9a; }

.pension_age_color {
  color: #1f78b4;
  fill: #1f78b4; }

.pension_avg_color {
  color: #b2df8a;
  fill: #b2df8a; }

.esv_rate_color {
  color: #e31a1c;
  fill: #e31a1c; }

.dreg_color {
  color: #33a02c;
  fill: #33a02c; }

.salary_avg_color {
  color: #fb9a99;
  fill: #fb9a99; }

svg#dreg .area {
  fill: #33a02c; }

svg#esv_rate .area {
  fill: #e31a1c; }

svg#pension_age .area {
  fill: #1f78b4; }

svg#pension_avg .area {
  fill: #b2df8a; }

svg#salary_avg .area {
  fill: #fb9a99; }

svg#payers_rate .area {
  fill: #6a3d9a; }
svg#payers_rate g.pension_year {
  opacity: 0; }

svg#ballance .area {
  fill: #ff7f00; }
svg#ballance .area.target {
  fill: #999; }

svg .tip {
  opacity: 0; }

svg .tip rect {
  stroke: none;
  fill-opacity: 0.45;
  fill: #CDD1DA; }

svg#ballance .tip rect {
  stroke: none;
  fill-opacity: 1;
  fill: #ff7f00; }
svg#ballance .tip text {
  fill: white; }

svg#payers_rate .tip rect {
  stroke: none;
  fill-opacity: 1;
  fill: #6a3d9a; }
svg#payers_rate .tip text {
  fill: white; }

#deficit {
  /*width:;!* add the width here *!*/
  position: relative; }

#deficit.scrolling {
  position: fixed;
  top: 20px; }

#deficit.absolute {
  position: absolute;
  top: 20px; }

.cover {
  margin-bottom: 15%; }

h1 {
  text-align: center; }
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5em; } }

.subtitle {
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 300;
  color: #383e47; }

.subtitle-one {
  font-weight: 600;
  color: #555; }

.credits {
  color: #383e47;
  font-size: 1.3em;
  line-height: 1.5em; }
  .credits span {
    font-weight: bold; }
  .credits.date {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 300; }

.annotation {
  font-size: 12px;
  line-height: 24px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  color: #636363; }

ul {
  list-style-type: none;
  padding: 0px; }

td, th {
  font-size: 12px; }

img {
  margin-top: 3em;
  margin-bottom: 3em; }

.quote {
  margin-top: 13em;
  margin-bottom: 1em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211A23; }
  @media (max-width: 768px) {
    .quote {
      margin-top: 0px;
      margin-bottom: 2em; } }
  @media (max-width: 480px) {
    .quote {
      margin-top: 0px;
      margin-bottom: 2em; } }
  .quote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em; }
    @media (max-width: 480px) {
      .quote::before {
        font-size: 7em; } }

.margin-top {
  margin-top: 20em; }

.new-section {
  margin-top: 5%; }

.mobile {
  display: none; }
  @media (max-width: 480px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 480px) {
    .desktop {
      display: none; } }

.read-more {
  margin-bottom: 15px; }

#start-question {
  margin-top: 62px;
  font-size: 20px; }

#start-question input {
  width: 110px; }

.number-point {
  background: black none repeat scroll 0 0;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 6px; }

.post-number {
  display: inline;
  font-size: 18px;
  font-weight: 600; }

.step-label {
  margin-top: 40px;
  margin-bottom: 10px; }

.step-hint {
  display: inline-block;
  font-size: 18px;
  border-radius: 9px;
  border: 1px dashed #3d3d3d;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman";
  margin-left: 7px;
  cursor: pointer; }

.ui-tooltip-content {
  font-size: 12px; }

.dotted {
  border-bottom: 1px dashed #46f; }

#deficit {
  z-index: -10; }

.swoopy-arrow-line {
  stroke: black;
  fill: none;
  shape-rendering: initial; }

#arrowhead {
  stroke: black;
  fill: none;
  shape-rendering: initial; }

.payers_rate_div {
  margin-top: 48px; }

/*# sourceMappingURL=application.css.map */
