#ballance_chart .axis--x path {
    /*display: none;*/
    fill:none;
    stroke: black;
    stroke-width: 1px;
}

#ballance_chart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#ballance_chart .chart.old .line {
    stroke: #cccccc;
}

