#ballance_chart {
    shape-rendering: crispEdges;
    overflow: visible;
}

#ballance_chart .axis path {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: .1;
}

#ballance_chart .axis .tick line {
    stroke-opacity: .1;
}

#ballance_chart .axis--x path {
    /*display: none;*/
    fill:none;
    stroke: black;
    stroke-width: 1px;
}

#ballance_chart .line {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    shape-rendering: auto;
}

/*#ballance_chart .historical .line {*/
/*}*/

#ballance_chart .prediction .line {
    stroke-opacity: 0.6;
    stroke-dasharray: 3,3;
}

#ballance_chart .prediction .previous.line {
    stroke-opacity: 0.3;
}

/*#ballance_chart .moving-line {*/
    /*stroke: black;*/
    /*stroke-width: 1px;*/
    /*stroke-opacity: 0.2;*/
/*}*/

#ballance_chart .message {
    font-size: 44px;
    font-weight: 800;
    fill: #ccc;
}

#ballance_chart .message.red {
    fill: #fee08b;
}

#ballance_chart .message.green {
    fill: #d9ef8b;
}

#ballance_chart {
    /*margin-left: -53px;*/
}

#ballance_chart .green-zone{
    fill: #4f803e;
}

#ballance_chart .yellow-zone{
    fill: #ffff73;
}

#ballance_chart .red-zone{
    fill: #ff7f80;
}

#ballance_chart .axis.axis--x path,
#ballance_chart .axis.axis--x .tick line {
    display: none;
}

#ballance_chart g.historical {
    /*display: none;*/
}

#ballance_chart .area {
    fill: #edf1fa;
}

#ballance_chart .swoopy-pension-year {
    stroke: black;
    fill: none;
    shape-rendering: initial;
}

/*body {*/
    /*background-image: url(../img/back1.jpg);*/
/*}*/


