#ballance_chart .axis--x path {
    /*display: none;*/
    fill:none;
    stroke: black;
    stroke-width: 1px;
}

#ballance_chart .line {
    fill: none;
    stroke-width: 0.5px;
}

#ballance_chart .actual .line {
    stroke: #000000;
    stroke-width: 1px;
}

#ballance_chart .prediction .line {
    stroke: #cccccc;
}

#ballance_chart .moving-line {
    stroke: black;
}

#ballance_chart .background-year {
    font-size: 44px;
    font-weight: 800;
    fill: #ccc;
}

#ballance_chart {
    margin-left: -53px;
}

#ballance_chart .green-zone{
    fill: #4f803e;
}

#ballance_chart .yellow-zone{
    fill: #ffff73;
}

#ballance_chart .red-zone{
    fill: #ff7f80;
}

/*body {*/
    /*background-image: url(../img/back1.jpg);*/
/*}*/
