svg.bigchart {
    shape-rendering: crispEdges;
    overflow: visible;
}

.bigchart .axis path {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: .1;
}

.bigchart .axis .tick line {
    stroke-opacity: .1;
}

.bigchart .axis--x path {
    /*display: none;*/
    fill:none;
    stroke: black;
    stroke-width: 1px;
}

.bigchart .line {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    shape-rendering: auto;
}

.bigchart .line.future {
    stroke-dasharray: 3,3;
}

.bigchart .line.previous {
    stroke-opacity: 0.3;
    stroke-dasharray: 3,3;
}

.bigchart .message {
    font-size: 44px;
    font-weight: 800;
    fill: #ccc;
}

.bigchart .message.red {
    fill: #fee08b;
}

.bigchart .message.green {
    fill: #d9ef8b;
}

.bigchart .axis.axis--x path,
.bigchart .axis.axis--x .tick line {
    display: none;
}

.bigchart .pension_year .line {
    stroke-width: 1px;
    stroke: black;
    shape-rendering: crispEdges;

}

