svg.bigchart {
    shape-rendering: crispEdges;
    overflow: visible;
}

.bigchart .axis path {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: .1;
}

.bigchart .axis .tick line {
    stroke-opacity: .1;
}

.bigchart .axis--x path {
    /*display: none;*/
    fill:none;
    stroke: black;
    stroke-width: 1px;
}

.bigchart .line {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    shape-rendering: auto;
}

/*.bigchart .historical .line {*/
/*}*/

.bigchart .prediction .line {
    stroke-opacity: 0.6;
    stroke-dasharray: 3,3;
}

.bigchart .prediction .previous.line {
    stroke-opacity: 0.3;
}

/*.bigchart .moving-line {*/
    /*stroke: black;*/
    /*stroke-width: 1px;*/
    /*stroke-opacity: 0.2;*/
/*}*/

.bigchart .message {
    font-size: 44px;
    font-weight: 800;
    fill: #ccc;
}

.bigchart .message.red {
    fill: #fee08b;
}

.bigchart .message.green {
    fill: #d9ef8b;
}

.bigchart {
    /*margin-left: -53px;*/
}

.bigchart .green-zone{
    fill: #4f803e;
}

.bigchart .yellow-zone{
    fill: #ffff73;
}

.bigchart .red-zone{
    fill: #ff7f80;
}

.bigchart .axis.axis--x path,
.bigchart .axis.axis--x .tick line {
    display: none;
}

.bigchart g.historical {
    /*display: none;*/
}

.bigchart .area {
    fill: #edf1fa;
}

.bigchart .swoopy-pension-year {
    stroke: black;
    fill: none;
    shape-rendering: initial;
}

/*body {*/
    /*background-image: url(../img/back1.jpg);*/
/*}*/


