/*.slider.slider-vertical {*/
    /*height: 150px;*/
    /*width: 20px;*/
/*}*/

/*#deficit span {*/
    /*display: block;*/
    /*transform: rotate(90deg);*/
    /*transform-origin: 0;*/
/*}*/

/*.slider-selection {*/
    /*background: #81bfde;*/
/*}*/

/*.slider-rangeHighlight {*/
    /*background: #f70616;*/
/*}*/


.start-question {
    font-size: 20px;
}

.start-question input {
    /*font-size: 40px;*/
    width: 110px;
}

.number-point {
    background: black none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    height: 20px;
    line-height: 20px;
    width: 20px;
    display:inline-block;
    margin-right: 6px;
}

.post-number {
    display: inline;
    font-size: 18px;
    font-weight: 600;
}

.step-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.dotted {
    border-bottom: 1px dashed #46f;
}

#deficit {
    z-index: -10;
}


.swoopy-arrow-line {
    stroke: black;
    fill: none;
    shape-rendering: initial;
}

#arrowhead {
    stroke: black;
    fill: none;
    shape-rendering: initial;
}

.payers_rate_div {
    margin-top: 48px;
}