.singlechart {
    shape-rendering: crispEdges;
}

.singlechart .axis--x path {
    /*display: none;*/
}

.singlechart .axis path {
    opacity: .1;
    stroke-width: 1;
    display: none;
}

.singlechart .tick line {
    opacity: .1;
    stroke-width: 1;
    display: none;
}

.singlechart .line {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    shape-rendering: auto;
}
.singlechart .line.historical {
    stroke: black;
}

.singlechart .line.future {
    stroke: grey;
    stroke-dasharray: 3,3;
}

svg.singlechart {
    /*margin-left: -50px;*/
}

.singlechart circle {
    fill-opacity: .1;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
    stroke-opacity: 0;
}
