svg.smallchart {
    shape-rendering: crispEdges;
    overflow: visible;
}

.smallchart .axis--x path {
    /*display: none;*/
}

.smallchart .axis path {
    opacity: .1;
    stroke-width: 1;
    display: none;
}

.smallchart .tick line {
    opacity: .1;
    stroke-width: 1;
    display: none;
}

.smallchart .line, .smallchart .pension_year {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    shape-rendering: auto;
}
.smallchart .line.historical {
    stroke: black;
}

.smallchart .line.future {
    stroke: grey;
    stroke-dasharray: 3,3;
}

/*svg.smallchart {*/
    /*margin-left: -50px;*/
/*}*/

.smallchart circle {
    fill-opacity: .1;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
    stroke-opacity: 0;
}

.smallchart .tip {
    opacity: 0;
}

.smallchart line.pension_year {
    stroke: #ddd;
    stroke-dasharray: 3 3;
    stroke-linecap: initial;
}

.smallchart .tip rect {
    stroke: none;
    fill-opacity: 0.45;
    fill: #CDD1DA;
}